    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Mind & Body</h2>
              <br/>
                <p>The Mind & Body app aims promotes a healthy lifestyle with the help of schedules.</p>
                <p>Your schedule can include: workout, yoga, meditation, endurance and flexibility, and enables variation through choice (see below).</p>
                <p>The app provides help where needed but encouraging independence where possible.</p>
              <br/>
              </div>
        </div>
    </section>
