<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Thanks to:</h2>
					<h4><a href="Catherine Lewis">http://catherinelewisphotography.co.uk/gallerymenu.html</a>for taking the photos.</h4>
					<h4><a href="Yoga Duo Zen">https://www.facebook.com/yogaduozen</a>for posing in the yoga photos.</h4>
					<h2>Contact:</h2>
					<h4><a href="mailto:support@mind-and-body.info">support@mind-and-body.info</a></h4>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
