<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
        <div class="col-lg-6 col-sm-push-6 col-sm-6 col-right">
          <div class="intro-message text-center">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.subTitle }}</h3>
            <hr class="intro-divider">
            <a href="https://itunes.apple.com/ch/app/mind-body/id1314406860?mt=8&ign-mpt=uo%3D4"><img src="img/AppStoreImage.svg" /></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-pull-6 col-sm-6 col-left">
          <img src="img/apng/1Header.png" class="img-responsive center-block" alt="">
        </div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
