<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>Terms & Conditions</h2>
          <br/>
            <p>
            By downloading or using the app, these terms will automatically apply to you, you should therefore make sure that you read them carefully before using the app. You are not allowed to copy or modify the app, any part of the app, or our trademarks in any way. You are not allowed to attempt to extract the source code of the app, to try and translate the app into other languages, or to make derivative versions. The app itself, all the trade marks, copyright, database rights and other intellectual property rights related to it, belong to Luke Smith.
            </p>
            <p>
            I, Luke Smith, am committed to ensuring that the app is as useful and efficient as possible. For that reason, I reserve the right to make changes to the app or to charge for its services at any time and for any reason. I will never charge you for the app or its services without making it very clear to you exactly what you’re paying for.
            </p>
            <p>
            The Mind & Body app stores and processes personal data that you have provided to me according to our Privacy policy. It’s your responsibility to keep your phone and access to the app secure. I therefore recommend that you do not jailbreak or root your phone, which is the process of removing software restrictions and limitations imposed by the official operating system of your device. It could make your phone vulnerable to malware/viruses/malicious programs, compromise your phone’s security features and it could mean that the Mind & Body app won’t work properly or at all.
            </p>
            <p>
            You should be aware that there are certain things that I will not take responsibility for. Certain functions of the app will require the app to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but I cannot take responsibility for the app not working at full functionality if you don’t have access to Wi-Fi, and you don’t have any of your data allowance left.
            </p>
            <p>
            If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the app, or other third party charges. In using the app, you’re accepting responsibility for any such charges, including roaming data charges if you use the app outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the app, please be aware that I assume that you have received permission from the bill payer for using the app.
            </p>
            <p>
            Along the same lines, I cannot always take responsibility for the way you use the app i.e. You need to make sure that your device stays charged – if it runs out of battery and you can’t turn it on to use the Service, I cannot accept responsibility.
            </p>
            <p>
            With respect to my responsibility for your use of the app, when you’re using the app, it’s important to bear in mind that although I endeavour to ensure that it is updated and correct at all times, I do rely on third parties to provide information to us so that we can make it available to you. I accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the app.
            </p>
            <p>
            At some point, I may wish to update the app. The app is currently available on iOS – the requirements for system (and for any additional systems I decide to extend the availability of the app to) may change, and you’ll need to download the updates if you want to keep using the app. I does not promise that I will always update the app so that it is relevant to you and/or works with the iOS version that you have installed on your device. However, you promise to always accept updates to the application when offered to you.
            </p>
            <p>
            I may also wish to stop providing the app, and may terminate use of it at any time without giving notice of termination to you. Unless we tell you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b) you must stop using the app, and (if needed) delete it from your device. The app would remain available to the end of you current subscription period at which point I would remove the subscription functionality and leave the app as is, until it is revoked from the App Store.
            </p>
            <h3>Eligibilty</h3>
            <p>
            To make any purchase through the Service, you must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, you must not be under 18 years age.
            </p>
            <p>
            To use this service you must be at least 16 years of Age.
            </p>
            <h3>Warning: Limited Liability</h3>
            <p>
            Do not overdo it. Only follow the guidelines of the Service with respect to physical activity up to the boundary of your physical ability, do not perform movements that are beyond your ability.
            </p>
            <p>
            If you have any medical conditions or are thinking about starting an exercise program or engaging in strenuous or unusual physical activity, you should consult your doctor and physical therapist first.
            </p>
            <p>
            You agree that I, Luke Smith, hold no responsibility and am not liable for any physical or mental harm or damage that comes about as a result of, or in relation to, the use of my Service, within the limitations of the law of the country in which the service is used.
            <h3>Content</h3>
            <p>
            In using the service, you accept that mistakes happen and therefore that the explanations of the movements and exercises as presented in the Service might contain errors that render the movement difficult to follow. In such a case, do not perform the movement. You agree that I hold no liability for your misunderstanding of explanations that result in you performing the movement wrong and harming or damaging yourself.
            </p>
            <h3>Changes to These Terms & Conditions</h3>
            <p>
            I may update our Terms & Conditions from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Terms and Conditions on this page. These changes are effective immediately after they are posted on this page.
            </p>
            <h3>Standard IOS App Store Terms and Conditions</h3>
            <p>
            The standard IOS App Store Terms and Conditions apply to this app, and in case of conflict with the Terms and Conditions outlined in this document, the IOS App Store Terms and Conditions take precedence.
            </p>
            <h3>Contact Us</h3>
            <p>
            If you have any questions or suggestions about my Terms and Conditions, do not hesitate to contact me.
            </p>
          <br/>
          </div>
    </div>
</section>
