---
---

@import "{{ site.theme }}";
// Headers
$header-heading-color: #E2E2E2;
$header-bg-color: #AB2142;
$header-bg-color-secondary: #E86F40;

body {
//  background-color: #AB2142;
  background-color: #222222;
}

// Text
$section-headings-color: #AB2142;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(180deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 4rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.main-content {
  @include large {
    max-width: 100%;
    padding: 0rem 0rem;
    background-color: white;
  }
  @include medium {
    padding: 0rem 0rem;
    font-size: 1.1rem;
  }
  @include small {
    padding: 0rem 0rem;
    font-size: 1rem;
  }
  div.col1 {
    width: 100%;
    padding: 0rem 0rem;
    background-color: white;
    div.col1box {
      max-width: 64rem;
      @include large {
        padding: 2rem 6rem;
      }
      @include medium {
        padding: 2rem 2rem;
      }
      @include small {
        padding: 1rem 1rem;
      }
      margin: 0 auto;
      font-size: 1.1rem;
      background-color: white;
    }
  }
  div.col2 {
    width: 100%;
    padding: 0rem 0rem;
    background-color: lightyellow;
    div.col2box {
      max-width: 64rem;
      @include large {
        padding: 2rem 6rem;
      }
      @include medium {
        padding: 2rem 2rem;
      }
      @include small {
        padding: 1rem 1rem;
      }
      margin: 0 auto;
      font-size: 1.1rem;
      background-color: lightyellow;
    }
  }
  div.col3 {
    width: 100%;
    padding: 0rem 0rem;
    background-color: #222222;
    div.col3box {
      max-width: 64rem;
      @include large {
        padding: 0.5rem 6rem;
      }
      @include medium {
        padding: 0.5rem 2rem;
      }
      @include small {
        padding: 0.5rem 1rem;
      }
      margin: 0 auto;
      font-size: 1.1rem;
      background-color: #444444;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }
  a {
    color: $body-text-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  table {
    display: block;
//    table-layout: fixed;
    width: 80%;
    margin: auto;
//    margin-left:10%; 
//    margin-right:10%;
    border: 1px solid red;
    tr {
      width: 100%;
      border: 1px solid blue;
    td {
//      width: 17rem;
      width: 25%;
      text-align:center;
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
      &:hover {
        background-color: $header-heading-color;
      }
    }
    }
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  text-align: center;
  color: $header-heading-color;
  background-color: $header-bg-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}
